body {
    text-align:  center;
    background-image: url(img/emoji.png);
    background-size: small;
    background-position: center;
    background-repeat: repeat;
}

h1, p {
    color: blueviolet;
}

h1 {
    font-size: 4rem;
    padding-top: 10rem;
}

.bigger-text {
    font-size: 1.5rem;
}

.container {
    width: 1100px;
    height: 1100px;
    margin: 0 auto;
    background-image: url('img/window.png');
    background-size: 1100px 1000px;
    background-position: center;
    background-repeat: no-repeat;
}

.section {
    display: flex;
    flex-direction: row;
}

.bigger-text-2 {
    font-size: 1.5rem;
    color: green
}
